
.center {
  margin: auto;
  width: 20%;
  padding: 150px;
}

.cen {
  margin: auto;
  width: 20%;
  padding: 50px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #16059c;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f7f8fa;
  color: black;
}

.topnav a.active {
  background-color: #5a6d99;
  color: white;
}
.topnav-right {
  float: right;
}


