<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link  href="../static/css/loginRegister.css"  th:href="@{/css/loginRegister.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Rent Buddy</a>
    <div class="topnav-right">
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
</div>
<p> This website is a one-stop shop for home hunters, as it gives them all the information they
    need to sort and assess their options.This website could aid senior residents, new movers in
    the city who don't have much information and aren't familiar with the area, and landlords who
    are considering moving out and looking for tenants. The viewers will be able to see a variety
    of possibilities and choose the best one for them. Rent Buddy can be a buddy for people
    looking for new places to live .It connects tenants with landlords and provides a way for them
    to identify suitable relocation locations.
</p>
</body>
</html>