<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RentBuddy Login</title>
    <link  href="../static/css/loginRegister.css"  th:href="@{/css/loginRegister.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<header th:insert ="loginRegisterHeader :: header"></header>


<form method="POST" th:action="@{/forgotPassword}" th:object = "${user}">
    <div class ="center">
        <label>Enter your user ID *</label>
        <br/>
        <input type="text" th:field="*{userId}" required>
        <br/>
        <br/>

        <br/>
        <button type="submit">Submit</button>
        <br/>

    </div>
</form>

<script>
    var error = "[[${param.error}]]";
    if(error)
    {
      alert(error);
    }
</script>


</body>
</html>