<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RentBuddy Login</title>
    <link  href="../static/css/loginRegister.css"  th:href="@{/css/loginRegister.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<header th:insert ="loginRegisterHeader :: header"></header>

<form method="POST" th:action="@{/resetPassword}" th:object="${user}">
    <div class ="center">
        <input type="hidden" th:field="*{userId}">
        <label>Password *</label>
        <br/>
        <input type="password" id="password" th:field="*{password}" required onchange='check_pass();'>
        <br/>
        <br/>
        <label>Confirm Password *</label>
        <br/>
        <input type="password" id="confirmPassword" required onchange='check_pass();'>
        <br/>
        <br/>
        <button type="submit" id="submit">Reset</button>
        <br/>

    </div>
</form>

<script>
    var error = "[[${param.error}]]";
    if(error)
    {
      alert(error);
    }

    function check_pass() {
        document.getElementById('submit').disabled = false;
        if (document.getElementById('password').value ==
                document.getElementById('confirmPassword').value) {
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }
    }

</script>


</body>
</html>